<nav class="navbar navbar-expand-sm bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-light h1" routerLink="/">DigitalBooks</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light h3" aria-current="page" routerLink="/search">Search Book</a>
                </li>
                <li *ngIf="allowedRoles(['reader', 'author'])" class="nav-item">
                    <a class="nav-link text-light h6" aria-current="page"  routerLink="/reader/subscriptions">Subscriptions</a>
                </li>
                <li *ngIf="allowedRoles(['author'])" class="nav-item">
                    <a class="nav-link text-light h6" routerLink="/author/addbook">Addbook</a>
                </li>
                <li *ngIf="allowedRoles(['author'])" class="nav-item">
                    <a class="nav-link text-light h6" routerLink="/author/mybooks">MyBooks</a>
                </li>
            </ul>
        </div>

        <div class="d-flex">
            <button *ngIf="!isSignedIn()" class="btn btn-success me-2" routerLink="/sign-in">Sign In</button>
            <button *ngIf="!isSignedIn()" class="btn btn-success" routerLink="/sign-up">Sign Up</button>
            <button *ngIf="isSignedIn()" class="btn btn-success" (click)="signOut()">Sign Out</button>
        </div>
    </div>
</nav>