<div class="card text-center border-success">
    <div class="card-header text-bg-success">
        DigitalBook Application
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>DigitalBooks app takes traditional books a step further, combining text with visual and audio elements to
                make
                authors' publications truly multimodal. Authors can write down their thoughts and assemble a collection
                of original
                or curated content ranging from photos, drawings, and images to audio and video clips -- in some cases,
                even
                animated text.

                And while Digital Book app can magically use images of autobiographical presentations or fantastical
                tales which are
                certainly options. It is also important to think beyond personal narratives to how authors might share
                the
                "stories/experiences" of their learning on any topic. And beyond author presentations and publications,
                plenty of
                students, teachers, doctors, engineers can jump on board, to create dynamic books and presentations that
                serve as
                instructional tools.
            </p>
            <footer class="blockquote-footer">developed by <cite title="Source Title">Subhajit Sinha</cite></footer>
        </blockquote>
    </div>
</div>